<div class="top_nav">
    <ul>
      <li><a  class="logo" href="home">DriveTest</a></li>
      <div class="right_menu">
        <li><a href="home">Home</a></li>
        <li><a href="appointment">Appointment</a></li>
        <li><a href="testresults">Test Results</a></li>
        <li><a href="logout">LOGOUT</a></li>
      </div>
    </ul>
  </div>
  